# Cache e arquivos gerados pelo CMake (NÃO sobem para o Git)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Configurações de IDEs (NÃO sobem)
.vscode/
.idea/

# Binários e executáveis (NÃO sobem)
*.exe
*.o
*.a
*.so
*.dylib
